footer {
    height: 13rem;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: fonts.$main-font;

    & h2 {
        font-size: 2rem;
        padding-bottom: .5rem;
    }
    & h3 {
        letter-spacing: 4px;
    }
}

.social-media {
    padding-top: 1rem;

    & i {
        padding: 1rem;
        font-size: 1.3rem;
        &:hover {
            color: blue;
        }
    }
    & .fa-linkedin-in{
        color: var(--clr-primary-400);
    }
}