.why-choose-us {
    background-image: url(../images/bg2.png);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: overlay;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: fonts.$main-font;
}

.info-container {
    max-width: 34rem;

    & h2 {
        font-family: fonts.$secondry-font;
        padding-bottom: 2rem;
        font-size: 2rem;
    }
    & p {
        padding-bottom: 2rem;
        font-weight: 200;
        letter-spacing: 2px;
    }
}

.img-container {
    display: flex;
    flex-direction: column;
    width: 25rem;

    & img {
        max-width: 300px;
        padding: 4px;
    }

    & .img1 {
        align-self: flex-start;
    }
    & .img2 {
        align-self: flex-end;
    }
}

.how-it-works {
    background-color: #333333;
    background-image: url(../images/Shape\ 1.png);
    background-size: 40rem;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 1rem;
    background-blend-mode: overlay;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: fonts.$secondry-font;
    
    & i {
        font-size: 3rem;
        padding-bottom: 1rem;
        color: var(--clr-primary-400);
    }
    & .fa-thumbs-up {
        color: #4c8aff;
    }
    & .fa-circle-check {
        color: #ca2b2b;
    }
    & h3 {
        font-size: 1.4rem;
        font-weight: 200;
    }
}

.travel-with-us {
    background-image: url(../images/bg3.png);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: overlay;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: fonts.$main-font;
}

.info-container2 {
    margin: 5rem;
    max-width: 34rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.773);
    padding: 2rem;
    display: block;
    justify-items: center;
    align-content: center;
    text-wrap: pretty;

    & h2 {
        padding-bottom: 2rem;
        font-size: 1.4rem;
    }
    & h4 {
        color: white;
        font-size: 1.4rem;
        padding-bottom: 2rem;
    }
    & p {
        padding-bottom: 2rem;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1.6rem;
    }
}
.travel-with-us2 {
    background-image: url(../images/bg4.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: overlay;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: fonts.$main-font;
}

.info-container3 {
    margin: 5rem;
    max-width: 34rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.638);
    padding: 2rem;
    display: block;
    justify-items: center;
    align-content: center;
    text-wrap: pretty;

    & h2 {
        padding-bottom: 2rem;
        font-size: 1.4rem;
    }
    & h4 {
        color: white;
        font-size: 1.4rem;
        padding-bottom: 2rem;
    }
    & p {
        padding-bottom: 2rem;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1.6rem;
    }
}