

@media (max-width: 576px) { 
    body {
        max-width: 100%;
        margin: 0 auto;
    }
    header {
        max-width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
    
  
    .h-text {
        margin-bottom: -4rem; 
        
        & h1 {
            font-size: 1.5rem; 
        }
        & h3 {
            font-size: 1rem; 
            letter-spacing: 3px; 
        }
    }
    
    .search-container {
        width: 80%;
    }

    .search-form {
        flex-direction: column;
        border: none;
    }
    .search-form input {
        width: 100%;  

        &::placeholder {
            font-size: 12px;
        }
    }
    
    .search-form button {
        padding: 0.3rem 0.8rem; 
        height: 2.5rem;    
    }
    .scroll-btn {
        display: none;
    }
    .header-nav {
        height: 3.5rem;
    }
    
    .header-nav__list {
        position: absolute;
        display: grid;
        justify-items: center;
        list-style: none;
        gap: 2px;
        font-size: 16px;
        font-weight: 200;
        pointer-events: none;
        opacity: 0;
        transition: opacity 250ms ease-in-out, 
        translate 250ms ease-in-out;
        
        
         
          
        & a:focus {
          color: var(--clr-secondary-500);
        }
      }

      .btn-list:focus + .header-nav__list {
        opacity: 1;
        pointer-events: auto;
    }
    .btn-list {
        display: block;
        background: none;
        border: none;
        font-size: 22px;
        color: #ffffff;
        width: 3rem;
    }
    
    .why-choose-us,
    .travel-with-us,
    .travel-with-us2 {
        height: auto;
        flex-direction: column;
    }
    
    .info-container,
    .info-container2,
    .info-container3 {
        max-width: 60%;
        height: auto;
        margin: 3rem;

        & h2 {
            padding-bottom: 1rem;
            font-size: 1.4rem;
        }
        & h4 {
            color: white;
            font-size: 1.4rem;
            padding-bottom: 1rem;
        }
        & p {
            padding-bottom: 1rem;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 1.6rem;
        }
    }
      
    .img-container {
        width: auto;
        margin: 2rem;
        & img {
            max-width: 250px;
        }
    }
    .book-btn {
        width: 9rem;
        font-size: .83rem;
    }
    
    .icon {
        padding: 1rem;
        & i {
            font-size: 1.5rem;
        }
        & h3 {
            font-size: 1.2rem;
        }
    }
    
    .how-it-works {
        background-size: 30rem;
        height: auto; 
    }
    
    .reviews {
        min-height: 200vh;
        max-width: 100%;
        justify-content: start;

        & h2 {
            margin-top: 2.3rem;
            font-size: 1.3rem;
            font-family: fonts.$secondry-font;
            padding-bottom: 2rem;
        }

    }
    .review-container {

        flex-direction: column; 
        align-items: center;

        & img {
            max-width: 80%;
        }
    }
    
    .review-text {
        max-width: 80%; 
        margin-top: 1rem;
    }
  }
    